
.div
{font-family: 'Shojumaru', cursive;;
  text-align: middle;
}
    .gemImage {
      width: 300px;
      height: auto;
      padding: 20px;
    }


.winsAndLosses{font-family: 'Shojumaru', cursive;;}
.numberToMatch{font-family:  'Shojumaru', cursive;;}
.userTotal{font-family:  'Shojumaru', cursive;;}
.header{font-family:  'Shojumaru', cursive;;}
        